POSTGRES_USER=eventhub
POSTGRES_PASSWORD=eventhub
POSTGRES_DB=eventhub
POSTGRES_PORT=5432

EVENTS_PORT=3001
PARTICIPANTS_PORT=3002
REGISTRATIONS_PORT=3003
FRONTEND_PORT=8080

CORS_ORIGIN=http://localhost:8080
SEED_DEMO_DATA=true
LOG_LEVEL=info
EVENTHUB_TAG=latest

# developpement local, hors Docker
EVENTS_DATABASE_URL=postgresql://eventhub:eventhub@localhost:5432/eventhub_events
PARTICIPANTS_DATABASE_URL=postgresql://eventhub:eventhub@localhost:5432/eventhub_participants
REGISTRATIONS_DATABASE_URL=postgresql://eventhub:eventhub@localhost:5432/eventhub_registrations
EVENTS_SERVICE_URL=http://localhost:3001
PARTICIPANTS_SERVICE_URL=http://localhost:3002
